<div class="visitor-sidebar">
    <ul class="list-group">
        <a asp-controller="Users" asp-action="Comments">💬 Мої коментарі</a>
        <a asp-controller="Users" asp-action="Ratings">⭐ Мої оцінки</a>
        <a asp-controller="Users" asp-action="Favorites">❤️ Улюблені страви</a>
        <a asp-controller="Users" asp-action="Profile">👤 Профіль</a>
    </ul>
</div>
