@{
    ViewData["Title"] = "Доступ заборонено";
}

<h1 class="text-danger">⛔ Доступ заборонено</h1>
<p>У вас немає дозволу на перегляд цієї сторінки.</p>
<a href="/" class="btn btn-primary">Повернутися на головну</a>
