@using FoodApp.Domain.Entities
@model List<Comment>

@{
    ViewData["Title"] = "My comments";
}

<h2>Ваші коментарі</h2>

@if (!Model.Any())
{
    <p>You haven't commented yet.</p>
}
else
{
    <ul>
        @foreach (var comment in Model)
        {
            <li>
                <strong>@comment.Dish?.Name</strong>: @comment.Text
                <br />
                <small>Posted: @comment.DatePosted.ToShortDateString()</small>
            </li>
        }
    </ul>
}
