@model FoodApp.Domain.Entities.User
@{
    ViewData["Title"] = "Profile";
}

<h2>Профіль</h2>
<div>
    <p><strong>Username:</strong> @Model.Username</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Date of registration:</strong> @Model.RegistrationDate.ToShortDateString()</p>
    <p><strong>Role:</strong> @Model.Role</p>
</div>
