@{
    ViewData["Title"] = "Healthy Harmony";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero-container with-bg">
    <div class="hero-overlay">
        <h1>Healthy Harmony — <br />ваш помічник у світі<br />здорового харчування</h1>
        <p>
            Healthy Harmony — це зручна платформа, створена для тих, хто прагне харчуватися збалансовано та свідомо.
            Ми допоможемо вам підібрати страви за наявними інгредієнтами або часом приготування. У нашій бібліотеці
            зібрано різноманітні рецепти з фото та покроковими інструкціями — від швидких сніданків до повноцінних обідів.
            Зробіть харчування простішим, кориснішим і смачнішим разом з нами.
        </p>
        <a class="main-button" href="/Dishes">Перейти до вибору страви</a>
    </div>
</div>
